
body {
    background: #191919;
    color: #fff;   
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px;   
}

.album {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px;
}

.albumArt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}

.cover {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.albumArt:hover .overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.albumArt:hover .icons img {
    visibility: visible;
}

.albumName,.artists {
    padding-top: 10px;
}

.albumName a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.artists a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #a0a0a0;
    text-decoration: none;
}

.albumName a:hover,.artists a:hover {
    text-decoration: 2px underline;
}

.icons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.icons img {
    visibility: hidden;
}

.icons .heart,.icons .dots {
   width: 15%;
}

.icons .play {
    width: 25%;
}

.play:hover {
    width: 30%;
}

@media (min-width: 767px) and (max-width: 1024px) {
    .app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 30px 10px;
    }

    .album {
        margin-bottom: 10px;
        align-self: flex-start;
    }

    .albumName {
        height: fit-content;
        width: fit-content;
    }
}

@media (min-width: 1025px) {
    .app {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 30px 10px;
    }

    .album {
        margin-bottom: 10px;
        align-self: flex-start;
    }
}








